<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-title >
      Kindle 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar color="rosaclaro"></ion-searchbar>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/persuasão capa dura.jpg">
    </ion-thumbnail>
    <ion-label>Persuasão
      <h6>Jane Austen</h6>
    </ion-label>
    <ion-badge color="pink">R$ 29,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/o lado feio do amor.jpg">
    </ion-thumbnail>
    <ion-label>O lado feio do amor
      <h6>Colleen Hoover </h6>
    </ion-label>
    <ion-badge color="pink">R$ 26,18</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/emma.jpg">
    </ion-thumbnail>
    <ion-label>Emma 
      <h6>Jane Austen</h6>
    </ion-label>
    <ion-badge color="pink">R$ 19,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/verity.jpg">
    </ion-thumbnail>
    <ion-label>Verity
      <h6>Colleen Hoover</h6>
    </ion-label>
    <ion-badge color="pink">R$ 32,40</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/a garota do lago.jpg">
    </ion-thumbnail>
    <ion-label>A garota do lago 
      <h6>Charlie Donlea</h6>
    </ion-label>
    <ion-badge color="pink">R$ 26,20</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/estilhaça-me.jpg">
    </ion-thumbnail>
    <ion-label>Estilhaça-me
      <h6>Tahereh Mafi</h6>
    </ion-label>
    <ion-badge color="pink">R$ 26,50</ion-badge>
  </ion-item>

</ion-content>
