<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-title >
      Livro físico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar color="rosaclaro"></ion-searchbar>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/boxhp.jpg">
    </ion-thumbnail>
    <ion-label>Box Harry Potter
      <h6>J.K. Rowling</h6>
    </ion-label>
    <ion-badge color="pink">R$ 199,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../../assets/acotar.jpg">
    </ion-thumbnail>
    <ion-label>Box Acotar
      <h6>Sarah J. Maas</h6>
    </ion-label>
    <ion-badge color="pink">R$ 179,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/divergente.jpg">
    </ion-thumbnail>
    <ion-label>Box Divergente
      <h6>Veronica Roth</h6>
    </ion-label>
    <ion-badge color="pink">R$ 159,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/emma.jpg">
    </ion-thumbnail>
    <ion-label>Emma 
      <h6>Jane Austen</h6>
    </ion-label>
    <ion-badge color="pink">R$ 29,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/estilhaça-me.jpg">
    </ion-thumbnail>
    <ion-label>Estilhaça-me
      <h6>Tahereh Mafi</h6>
    </ion-label>
    <ion-badge color="pink">R$ 39,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/o lado feio do amor.jpg">
    </ion-thumbnail>
    <ion-label>O lado feio do amor
      <h6>Colleen Hoover </h6>
    </ion-label>
    <ion-badge color="pink">R$ 39,99</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/orgulho e preconceito capa dura.jpg">
    </ion-thumbnail>
    <ion-label>Orgulho e preconceito
      <h6>Jane Austen</h6>
      <h6>Capa dura</h6>
    </ion-label>
    <ion-badge color="pink">R$ 49,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/persuasão capa dura.jpg">
    </ion-thumbnail>
    <ion-label>Persuasão
      <h6>Jane Austen</h6>
      <h6>Capa dura</h6>
    </ion-label>
    <ion-badge color="pink">R$ 49,90</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail>
      <img src="../../assets/verity.jpg">
    </ion-thumbnail>
    <ion-label>Verity
      <h6>Colleen Hoover</h6>
    </ion-label>
    <ion-badge color="pink">R$ 42,90</ion-badge>
  </ion-item>

</ion-content>
