<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-title>
      Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-item color="pink">
      <ion-icon  name="person-circle-outline"> </ion-icon>
      <ion-label>Minha Conta</ion-label>
    </ion-item>
  </ion-card>

  <ion-item >
    <ion-icon color="pink" name="bag-outline"></ion-icon>
    <ion-label><H5>Compras</H5></ion-label>
  </ion-item>

  <ion-item >
    <ion-icon color="pink" name="cart-outline"></ion-icon>
    <ion-label><h5>Carrinho</h5></ion-label>
  </ion-item>

  <ion-item >
    <ion-icon color="pink" name="heart-outline"></ion-icon>
    <ion-label><h5>Favoritos</h5></ion-label>
  </ion-item>

  <ion-item>
    <ion-icon color="pink" name="notifications-outline"></ion-icon>
    <ion-label >Avisos</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon color="pink" name="pricetags-outline"></ion-icon>
    <ion-label>Cupom</ion-label>
  </ion-item>
  
</ion-content>
